<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : 2 de junio de 2011, 10:57 AM
    Author     : econain
    Description:
        Purpose of the document follows.
-->

<root>
	<host>localhost</host>
	<user>root</user>
	<passwd>spedatha</passwd>
	<db>econainERP</db>
	<charset>utf8</charset>
	<init_command>set names utf8</init_command>
	<www>localhost</www>
</root>
